<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uicontrols"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ActivityRadioGroup"></activity>
        <activity android:name="ActivityCheckBox"></activity>
        <activity android:name="ActivityDatePicker"></activity>
        <activity android:name="ActivityTimePicker"></activity>
        <activity android:name="ActivitySpinner"></activity>
        <activity android:name="ActivityAutoCompleteTextView"></activity>
        <activity android:name="ActivitySeekBar"></activity>
        <activity android:name="ActivityGridView"></activity>
        <activity android:name="ActivityProgressDialog"></activity>
        <activity android:name="ActivityNotification"></activity>
        <activity android:name="ActivityScrollView"></activity>
        <activity android:name="ActivityRatingBar"></activity>
        <activity android:name="ActivityImageSwitcher"></activity>
        <activity android:name="ActivityGallery"></activity>
        <activity android:name="ActivityProgressBar"></activity>
        <activity android:name="ActivityEditText"></activity>
        <activity android:name="ActivityNumberPicker"></activity>
        <activity android:name="ActivityPedometer"></activity>
        <activity android:name="ActivitySearchView"></activity>
        <activity android:name="ActivityCustomView" android:screenOrientation="portrait"></activity>
        <activity android:name="ActivityCustomBmiView"></activity>
        <activity android:name="ActivityListView"></activity>
        <activity android:name="ActivityTextviewEditview"></activity>
        <activity android:name="ActivityClock"></activity>
        <activity android:name="ActivityTabhost"></activity>
        <activity android:name="ActivityMenu"></activity>
        <activity android:name="ActivityAnimation"></activity>
        <activity android:name="ActivitySlidingDrawer"></activity>
    </application>

</manifest>
